<div class="black-top">
	
	<div style="overflow:hidden; width:100%">
		<ul class="fanart-carousel relative list-unstyled" style="margin:0;padding:0; margin-left:-24%; width:150%">
			<li class="pull-left col-4 no-padding" style="opacity:0.5">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/51e867c2-84c4-4288-8a7d-6484b8adc2dc.jpg'); background-size:100% 100%; padding-bottom:50%">
					<a class="right carousel-control">
          				<span class="icon-prev"></span>
        			</a>
				</div>
			</li>
			<li class="pull-left col-4 no-padding">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/51db2ed6-0dac-4b35-98af-0577b8adc2dc.jpg'); background-size:100% 100%; padding-bottom:50%; box-shadow:1px 1px 5px #000"></div>
			</li>
			<li class="pull-left col-4 no-padding" style="opacity:0.5">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/4f0f7971-666c-4969-88da-09d29e27ab78.jpg'); background-size:100% 100%; padding-bottom:50%">
				<a class="left carousel-control">
		          <span class="icon-next"></span>
		        </a>
				</div>
			</li>
		</ul>
	</div>
	<br class="clear"/>
</div>
<div class="container content">
	<div class="col-3 col-push-9">
		<h2>Shows <span class="normal">by season</span></h2>
		<hr />
		<ul class="list-unstyled">
			<li><a>Upcoming anime</a></li>
			<li>Currently airing</li>
			<li><a>Summer 2013</a></li>
			<li><a>Spring 2013</a></li>
			<li><a>Winter 2012</a></li>
		</ul>
		<hr />
		<h2><span class="normal">or by</span> year</h2>
		<hr />
		<div class="col-3 margin-bottom-m"><a>2014</a></div><div class="col-3 margin-bottom-m">2013</div><div class="col-3 margin-bottom-m">2012</div><div class="col-3 margin-bottom-m">2011</div>
        <div class="col-3 margin-bottom-m">2010</div><div class="col-3 margin-bottom-m">2009</div><div class="col-3 margin-bottom-m">2008</div><div class="col-3 margin-bottom-m">2007</div>
        <div class="col-3 margin-bottom-m">2006</div><div class="col-3 margin-bottom-m">2005</div><div class="col-3 margin-bottom-m">2004</div><div class="col-3 margin-bottom-m">2003</div>
        <div class="col-3 margin-bottom-m">2003</div><div class="col-3 margin-bottom-m">2002</div><div class="col-3 margin-bottom-m">2001</div><div class="col-3 margin-bottom-m">2000</div>
        <div class="col-3 margin-bottom-m">1999</div><div class="col-3 margin-bottom-m">1998</div><div class="col-3 margin-bottom-m">1997</div><div class="col-3 margin-bottom-m">1996</div>
	</div>
	<div class="col-9 col-pull-3">
		<h1>Discover <span class="normal">new anime</span></h1>
		<div class="row">
			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/520e602e-0dd0-4fec-ac98-4c1cb8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Kenkou Zenrakei S...</span>
			</div>
			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/520e5ee6-c8ac-4d52-9fce-2340b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Gokusen</span>
			</div>
			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/520bd13a-9e48-453a-aac2-7e61b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Berserk: Ougon Ji...</span>
			</div>
			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/4f3af738-0eac-401e-95f8-60da9e27ab78.jpg')"></div>
				</a>
				<span class="nowrap small">Clannad: After Story</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/520e60e5-43ec-4ce7-9a22-61f8b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Gekijouban Hunter...</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/52040ac9-67f8-46ad-86a3-03d4b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Rescue Me!</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/5202b3f1-f520-422d-8417-51d4b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Ao no Exorcist Gek...</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/51f026ef-fb20-4eca-be14-51f6b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Moshidora</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/51f023bb-36d8-4dd4-ae87-4c6bb8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Soredemo Machi wa.</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/51e45659-1c84-466f-82d0-14d2b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">High School DxD New</span>
			</div>

			<div class="col-2-5 overflow-hidden margin-bottom-m">
				<a class="media-item clickable">
					<div class="poster" style="background-image: url('http://urani.me/attachments/photos/orginal/51d1b8bb-741c-44bd-89a9-5415b8adc2dc.jpg')"></div>
				</a>
				<span class="nowrap small">Blood Lad</span>
			</div>

		</div>
		
		<!--
		Should be able to choose simple or advance query.
		Simple should be "Spring 2012" with limited customizability.
		Advanced should be from to date picker with.
		-->
	</div> 
</div>