<style type="text/css">
.title {
color: rgb(145, 145, 145);
text-shadow: 0px -1px 0px rgb(0, 0, 0);
}
</style>
<div class="black-top" style="padding-top:200px;">
	<div class="row no-margin">
		<div class="col-lg-3">
			<div class="col-lg-6">
				<img src="http://urani.me/attachments/photos/orginal/51605bb5-63e8-43c7-8873-1444b8adc2dc.jpg" class="img-responsive"/>
				<p class="title text-center">Date A Live</p>
			</div>
			<div class="col-lg-6">
				<img src="http://urani.me/attachments/photos/orginal/51647660-590c-433c-adfb-765ab8adc2dc.jpg" class="img-responsive"/>
				<p class="title text-center">Hyakka Ryouran: S...</p>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="col-lg-12" style="position:absolute; top:-174px">
				<img class="fanart img-responsive" src="http://urani.me/attachments/photos/orginal/51570d37-4bd8-42b8-985d-7b50b8adc2dc.jpg"/>
				<div class="infobar"><h1 class="no-margin" style="padding:20px;">Shingeki no Kyojin</h1></div>
				<div class="animeplot" style="background:#fff; padding:20px;">
					<p class="animedesc">Several hundred years ago, humans were nearly exterminated by giants. Giants are typically several stories tall, seem to have no intelligence, devour human beings and, worst of all, seem to do it for the pleasure rather than as a food source. A small percentage of humanity survived by walling themselves in a city protected by extremely high walls, even taller than the biggest of giants.
					Flash forward to the present and the city has not seen a giant in over 100 years. Teenage boy Elen and his foster sister Mikasa witness something horrific as the city walls are destroyed by a super giant that appears out of thin air. As the smaller giants flood the city, the two kids watch in horror as their mother is eaten alive. Elen vows that he will murder every single giant and take revenge for all of mankind.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="col-lg-6">
				<img src="http://urani.me/attachments/photos/orginal/515c87e5-40f0-408d-93ac-526ab8adc2dc.jpg" class="img-responsive"/>
				<p class="title text-center">Hataraku Maou-sama!</p>
			</div>
			<div class="col-lg-6">
				<img src="http://urani.me/attachments/photos/orginal/4f90535e-ada4-4d01-a1cb-05989e27ab78.jpg" class="img-responsive"/>
				<p class="title text-center">Kurozuka</p>
			</div>
		</div>
	</div>
</div>