<div class="black-top">
	
	<div style="overflow:hidden; width:100%">
		<ul class="fanart-carousel relative list-unstyled" style="margin:0;padding:0; margin-left:-24%; width:150%">
			<li class="pull-left col-4 no-padding" style="opacity:0.5">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/51e867c2-84c4-4288-8a7d-6484b8adc2dc.jpg'); background-size:100% 100%; padding-bottom:50%">
					<a class="right carousel-control">
          				<span class="icon-prev"></span>
        			</a>
				</div>
			</li>
			<li class="pull-left col-4 no-padding">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/51db2ed6-0dac-4b35-98af-0577b8adc2dc.jpg'); background-size:100% 100%; padding-bottom:50%; box-shadow:1px 1px 5px #000"></div>
			</li>
			<li class="pull-left col-4 no-padding" style="opacity:0.5">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/4f0f7971-666c-4969-88da-09d29e27ab78.jpg'); background-size:100% 100%; padding-bottom:50%">
				<a class="left carousel-control">
		          <span class="icon-next"></span>
		        </a>
				</div>
			</li>
		</ul>
	</div>
	<br class="clear"/>
</div>
<div class="container content">
	<div class="col-3 col-push-9">
		<h2>Shows <span class="normal">by season</span></h2>
		<hr />
		<ul class="list-unstyled">
			<li><a>Upcoming anime</a></li>
			<li>Currently airing</li>
			<li><a>Summer 2013</a></li>
			<li><a>Spring 2013</a></li>
			<li><a>Winter 2012</a></li>
		</ul>
		<hr />
		<h2><span class="normal">or by</span> year</h2>
		<hr />
        {{#each year in view.years}}
            <div class="col-3 margin-bottom-m">
            {{#link-to 'animeoverview' year}}
                {{year.title}}
            {{/link-to}}
            </div>
        {{/each}}
	</div>
	<div class="col-9 col-pull-3">
		<h1>Discover <span class="normal">new anime</span></h1>
		<div class="row">
            {{#each anime in content}}
                <div class="col-2-5 overflow-hidden margin-bottom-m">
                    {{#link-to 'anime.description' anime class="media-item clickable"}}
                        <div class="poster" {{bindAttr style="anime.imageUrlSmallStyle"}}></div>
                    {{/link-to}}
                    <span class="nowrap small">{{concat anime.title length="20"}}</span>
                </div>
            {{/each}}
        </div>
		
		<!--
		Should be able to choose simple or advance query.
		Simple should be "Spring 2012" with limited customizability.
		Advanced should be from to date picker with.
		-->
	</div> 
</div>
