<div class="black-top">
	<div style="overflow:hidden; width:100%">
		<ul class="fanart-carousel relative" style="margin:0;padding:0; margin-left:-24%; width:150%">
			<li class="pull-left col-4 no-padding" style="opacity:0.5">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/51e867c2-84c4-4288-8a7d-6484b8adc2dc.jpg'); background-size:100% 100%; padding-bottom:50%"></div>
			</li>
			<li class="pull-left col-4 no-padding">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/51db2ed6-0dac-4b35-98af-0577b8adc2dc.jpg'); background-size:100% 100%; padding-bottom:50%; box-shadow:1px 1px 5px #000"></div>
			</li>
			<li class="pull-left col-4 no-padding" style="opacity:0.5">
				<div style="cursor: pointer; background: url('http://urani.me/attachments/photos/orginal/4f0f7971-666c-4969-88da-09d29e27ab78.jpg'); background-size:100% 100%; padding-bottom:50%"></div>
			</li>
		</ul>
	</div>
	<br class="clear"/>
</div>
<div class="container content">
	<div class="col-2 col-push-10">
		a
	</div>
	<div class="col-10 col-pull-2">
		<h1>Discover <span class="normal">new anime</span></h1>

		
		Should be able to choose simple or advance query.
		Simple should be "Spring 2012" with limited customizability.
		Advanced should be from to date picker with.
	</div> 
</div>