@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "base";

// COMMON

@mixin scrollbar-grey (){
    &::-webkit-scrollbar {width:6px; height:6px; border: none; background: transparent;}
    &::-webkit-scrollbar-track-piece {border: none; position: absolute; padding: 0; box-shadow: none; background-color: rgba(0,0,0,0.07); border-radius: 30px;}
    &::-webkit-scrollbar-thumb:vertical {background-color: rgba(0,0,0,0.18); border-radius: 30px; border: none;}
    &::-webkit-scrollbar-thumb:horizontal {background-color: rgba(0,0,0,0.18); border-radius: 30px; border: none;}
}


body {
	font-family:'Proxima Nova';
    background:#f5f4f3;
    font-size:14px;
    padding-top:44px;
    text-rendering: optimizelegibility
}

h1, h2, h3, h4 {
    color:#2a2a2a;
    font-weight:bold;
    //font-family: "Roboto","Questrial",Helvetica,Arial,sans-serif;
}

h1 {
    font-size:30px;
    margin:10px 0;

    .small {
        line-height:30px;
        color:#BFBFBF;
        //color:rgba(0,0,0,0.5);
        font-weight:normal;
    }
}

/*.navbar-inverse.navbar-uranime {

    .navbar-inner {

        background: #272727;
        text-align: center;
        background-image: -moz-linear-gradient(top,#333 0,#1B1B1B 100%);
        background-image: -ms-linear-gradient(top,#333 0,#1B1B1B 100%);
        background-image: -o-linear-gradient(top,#333 0,#1B1B1B 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#333),color-stop(100%,#1B1B1B));
        background-image: -webkit-linear-gradient(top,#333 0,#1B1B1B 100%);
        background-image: linear-gradient(to bottom,#333 0,#1B1B1B 100%);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#333333,EndColorStr=#1b1b1b);
        
        // Only mobile
        border-bottom: 1px solid #181818;
        height: 46px;

    }
}*/

.relative {
    position:relative;
}

.normal {
    font-weight:normal;
}

h2 {
    font-size:20px;
}

.small {
    font-size:0.7em;
}

.black-top {
    padding-top:20px;
    background-image:url('./img/navy_blue.png');
    margin-top:-2px;
}

.container {
    max-width: 960px;

    h2 {
        display: inline-block;
        margin-left: 5px;
        font-size: 18px;
        margin-bottom:10px;
    }
}

.content {
    padding: 20px 30px;
    background:#fff;
	border:1px solid #eeeeed;
    border-width: 0 1px 1px 1px;
    position:relative;
}

.infobar {
    background: whiteSmoke;
}

img.posterimage {
	max-width:175px;
	width:100%;
	padding: 10px;
    @include box-shadow(inset 0 0 2px #d0d1d5);
   	@include border-radius(3px);
   	background:#fff;
}

.centertext {
    text-align: center;
}

.nomargin {
    margin:0;
}

.table-small {
    font-size:0.9em;
}

.navbar {
	z-index:1000;
	position:absolute;
}

#notifications {
	top:43px;
	left:-100px;
}

.transparent-bar {
	background: rgba(0, 0, 0, 0.6);
	padding: 5px 0;
	position: absolute;
	width: 100%;
	margin-top: -69px;
	color: white;
	text-shadow: 0 1px 1px black;
	text-align: center;
}


#fanart {
	//background-color:#efeff2;
	display:block;
	background-size:100%;
	height:385px;
	width:100%;
    max-width:1020px;
    margin:0 auto;
	z-index:0;
    @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, 0.15));
    @include border-radius(3px 3px 0 0);
    border:1px solid #000;
    border-width: 1px 1px 0 1px;
    position:relative;
    &.small {
        height:230px;
    }

}

// Numberbox
.numberbox {
    border: 1px solid #E8E8E8;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 #fff, 0 1px 3px #efefef;
    background: -webkit-linear-gradient(#F9F9F9,#F4F4F4);
    background-image: -moz-linear-gradient(top center, #F9F9F9,#F4F4F4);
    background-image: -o-linear-gradient(top, #F9F9F9, #F4F4F4);
    color: #4C5969;
    margin-left: 50px;
}

.numberbox h2 {
    font-size:2em;
    margin:0;
    display:block;
}

.center {
    display:block;
    margin:0 auto;
    text-align:center;
}


// User profile page
#fanart .userseen {
    width: 20%;
    float: left;
    height: 50%;
    @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, 0.15));
    border: 1px solid rgba(0,0,0,0.2);
    border-width: 0 1px 1px 0;
    @include box-sizing(border-box);
    position:relative;
    -webkit-transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
	
    &:nth-child(1){
        @include border-radius(3px 0 0 0);
    }

    &:nth-child(5){
        @include border-radius(0 3px 0 0);
    }

    .border-image {
        border: rgba(255, 255, 255, 0.1) 1px solid;
        -webkit-box-sizing: border-box;
        font-size: 11px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        pointer-events: none;
    }
}

p.animedesc {
	font-family:'Proxima Nova';
	color:#5E5E5E;
	padding: 30px 30px 30px 30px;
	background: url('./img/quote1.png') no-repeat top left,url('./img/quote2.png') no-repeat bottom right;
	line-height: 18px;
	font-size:0.9em;
	//margin-bottom:50px;
}

.smalltext {
	font-size:0.8em;
}

img.animeimage, #fanart .animetitle {
	border:1px solid #000002;
	box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2);
	-moz-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2);
	max-width:175px;
	width:100%;
	padding: 10px;
   	border:3px solid #f5f4f9;
   	-webkit-appearance: none;
   	-webkit-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
   	-moz-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
   	border-radius: 3px;
   	background:#fff;
}

.clear {
    clear:both;
}

.anime-gallery {
	position:relative;
    
    p {
        margin-left:5px;
        overflow:hidden;
        width:100%;
    }
    
    .gallery-header {
        height:30px;
        h2 {
            width:216px;
            
            display:inline;
            margin-left:5px;
            font-size:18px;
            
            span.normal {
                font-weight:normal;
            }
    
        }
    
    }

}

.italic {
    font-style:italic;
}

.newsfeed{
    h2 {
        margin:0 0 5px 0;
    }
    p {
        margin:4px 0;
    }
}

h2.calendar {
    padding: 0 10px;
    width: 95%;
    background: #fafafa;
    border: 1px solid #eee;
}

.gallery-image {
    
    border:3px solid #F5F4F9;
    box-shadow:inset 1px 1px 0 #D0D1D5, inset -1px -1px 0 #D0D1D5;
    display:inline-block;
    padding:3px 5px 3px 3px;
    max-width:100%;
    position:relative;
    @include box-sizing(border-box);
    
    a {
        display:block;
        position:relative;
        background:#000;
                
        img {
            vertical-align: bottom;
            border:1px solid #fff;
            height:100%;
            width:100%;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);          
        }
        
        span {
            display:none;
            color:#fff;  
            font-weight:bold;  
        }
        
        &:hover span {
            display:inline;
            width:100%;
            position:absolute;
            top:50%;
            text-align:center;  
            vertical-align:middle;    
        }
        
        &:hover img {
            border:1px solid #000;
            opacity: 0.5;    
        }
        
    }
    
    &:hover {
        background:#2F6A9F;    
    }
    
    span.info {
        position:absolute;
        margin-top:10px;
        overflow:hidden;
        
        p {
            height:1.1em;
            line-height:1.1em;
        }        
    }

}

.gallery-episode {
    width:215px;
    margin:5px 10px 5px 0;
    a {
        img {
            width: 215px;
            height:113px;
        }
    }
    p.single {
        height: 1.5em;
        overflow: hidden;  
    }
}

.gallery-poster {
    width: 166px;
    margin:10px;
    a {
        img {
            width: 150px;
            height: 225px;
        }
    }
    p {
        height:1.5em;
        text-align:center;
        width:100%;
        text-overflow: clip;
    }
}

select {
    max-width:100%;
}

.line-height-input {
    line-height:30px;
}

.gallery-fanart {
    width: 216px;
    margin:10px;
    a {
        img {
            width: 200px;
            height: 112px;
        }
    }
    p {
        height:1em;
        text-align:center;
        width:100%;
        text-overflow: clip;
    }
}

.loading {
    background:url('./img/loading_square.gif');
    width: 400px;
    height:300px;
    margin:0 auto;
}

.bold {
	font-weight:bold !important;
}

.grey {
    color:#ccc;
}

.small {
    font-size:0.9em;
}

.episodelist .episode-info {
    margin-top:10px;
}

.margin {
    margin:15px;
}


// Tags

.tag 					{ background: url(./img/tag.png) no-repeat 0 0; color: #3f3f3f; display: none; float: left; height: 25px; line-height: 1; margin: 5px; padding: 0 5px 0 8px; position: relative; text-decoration: none; }
.tag:hover 				{ cursor: pointer; }
.tag:active 			{ top: 1px; }
.tag span 				{ display: block; float: left; }
.tag_name 				{ background: url(./img/tag.png) no-repeat 100% -25px; height: 19px; padding: 6px 10px 0 0; position: relative; text-shadow: 0 1px 1px #fff; z-index: 10; max-width:188px;}
.tag_count 				{ background: url(./img/tag.png) no-repeat 100% -50px; color: #fff; height: 19px; padding: 5px 10px 0; position: absolute; right: 0; text-shadow: 0 -1px 0 #c54a0c; top: 1px; z-index: 5; }


.genre                    { background: url(./img/tag2.png) no-repeat 0 0; color: #3f3f3f; display: none; float: left; height: 25px; line-height: 1; margin: 5px; padding: 0 5px 0 8px; position: relative; text-decoration: none; }
.genre:hover              { cursor: pointer; }
.genre:active             { top: 1px; }
.genre span               { display: block; float: left; }
.genre_name               { background: url(./img/tag2.png) no-repeat 100% -25px; height: 19px; padding: 6px 10px 0 0; position: relative; text-shadow: 0 1px 1px #fff; z-index: 10; max-width:188px;}
.genre_count              { background: url(./img/tag2.png) no-repeat 100% -50px; color: #fff; height: 19px; padding: 5px 10px 0; position: absolute; right: 0; text-shadow: 0 -1px 0 #c54a0c; top: 1px; z-index: 5; }


// SPLASH PAGE
.splash-white {
    background:#fff;
    margin-top:-10px;
    padding-top: 5%;//15%;

    h1 {
        text-align:center;
    }

    .gallery-splash {
        width: 800px;
        max-width:100%;
        margin:0 auto 20px auto;
    }
}

.container-splash {
    .span6 {
        margin-top:20px;
        
        h2 {
            font-weight:100;
        }

        h2, p {
            margin-bottom:5px;
        }
    }

    .calendar, .discover, .sync {
        i {
            margin-top:5px;
        }
        padding-left:50px;

    }
}


// MODAL FOR EPISODE-INFORMATION

.modal-backdrop {
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    &.episode {
        border-radius:0 2px 2px 0;
        padding:0;
        color:#999;

        h2 {
            font-weight:normal;
            margin-bottom:5px;
            padding:5px;
        
            &.outside {
                position:absolute;
                bottom:-45px;
                display:block;
                text-align:center;
                width:100%;
                height:31px;
                line-height:31px;
                font-size:16px;
                color:#fefefe;
            
                .arrow {
                    opacity:0.7;
                }
            }

        }

        .last-seen {
            height:50px;
            position:relative;
            display:block;
            h2 {
                padding:0 10px;
                margin:0;
                line-height:50px;
                background:url('./img/vertical-border.png') no-repeat center right;
                display:inline-block;
                /*position:absolute;
                top:0;
                left:0;*/
                float:left;
            }

            img {
                float:left;
                height:30px;
                width:30px;
                border:1px solid #ccc;
                margin:10px 10px 0 0;
            }
        }

        p.animedesc {
            padding: 30px 0;
            max-height: 250px;
            overflow-y: auto;
            @include scrollbar-grey();
        }

        .js-episodeInfo{
            border-right:1px solid #ccc;
            padding-right: 0;
            margin-right: 0;
        }

        .modal-episode {
            background:whitesmoke;
            margin-bottom:-3px;
            position:relative;

            img {
                width:100%;
            }

            .border-image {
                border: rgba(255, 255, 255, .1) 1px solid;
                -webkit-box-sizing: border-box;
                font-size: 11px;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                pointer-events: none;
            }
        }

        .modal-header {
            margin-bottom:10px;
        }

        .modal-footer {
            //border-right: 1px solid #DDD;
            text-align:left;
            padding:15px 10px;
            font-size:1.0em;
            color:#555;
            line-height:1.1em;
            margin-top: 0px;
        }

        .comment-avatar {
            left:-60px;
        }

        .comment-container {
            margin-left:50px;
        }

        .comments {
            overflow-y:auto;

            &.js-commentsHeight{
                @include scrollbar-grey;
                max-height:474px;
            }
        }
    }
}


.searchBar {
    h1 {
        font-size:24px;
    }
    div.span2, .btn-group {
        margin-top:6px;
    }

}


// NEED TO BE REDONE

.smallPoster img{
    width: 138px;
    height:203px;
}

.smallPoster + p {
    width:138px;
}



// ORDINARY css3
/* Comment system */
.comment-container {
    padding: 2px;
    background: #efefef;
    border-radius: 3px;
    margin-left:90px;
    position:relative;
    margin-bottom:20px;
}

.comment-meta {
    height: 33px;
    padding: 0 10px;
    position:relative;
    border-bottom: 1px solid #CCC;
    background: #f0f0f0;
    /*background: -moz-linear-gradient(#F8F8F8,#E1E1E1); LIGHT VERSION*/
    background: -moz-linear-gradient(#f0f0f0,#ddd);
    background: -webkit-linear-gradient(#f0f0f0,#ddd);
    background: -o-linear-gradient(#f0f0f0,#ddd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#ddd')";
    margin: 0;
    max-width: 600px;
    font-size: 12px !important;
    height: 33px;
    line-height: 33px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-text {
    position: relative;
    padding: 0;
    color: #333;
    font-size: 12px;
    background: #FBFBFB;
    padding:10px;
}

.comment {
    border: 1px solid #CACACA;
    /*-webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 0 rgba(101,101,101,.1);
    -moz-box-shadow: 0 1px 0 rgba(101,101,101,.1);
    box-shadow: 0 1px 0 rgba(101,101,101,.1);
    background-color: #F8F8F8;
    border: 1px solid #D5D5D5;
    margin: 0 2px;
    position: relative;
    top: -3px;*/
    /*border-bottom: 0 solid #DDD;
    border-left: 0 solid #4D90F0;
    border-top: 0 solid #DDD;*/
}

.comment-avatar {
    position:absolute;
    left:-85px;
}

.comment-avatar img {
    padding:2px;
    border:3px solid rgb(245, 244, 249);
    border-radius:3px;
    max-width:200px;
    max-height:50px;
}

.comment-time {
    color:#AAA;
    background: #f0f0f0;
    /*background: -moz-linear-gradient(#F8F8F8,#E1E1E1); LIGHT VERSION*/
    background: -moz-linear-gradient(#f0f0f0,#ddd);
    background: -webkit-linear-gradient(#f0f0f0,#ddd);
    background: -o-linear-gradient(#f0f0f0,#ddd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#ddd')";
    max-width:150px;
    min-width:100px;
    position:absolute;
    right:0;
    text-align:right;
    padding-right:10px;
}

.comment-text textarea {
    max-width:98%;
    width:480px;
    padding:10px;
}

.comment-meta .btn {
    margin-top:3px;
}

a.green {
    color:#5BB75B;
}

.animelist-info{
    text-align:center;
    margin-top:10px;
    color:#555;
    h2 {
        margin:0;
        color:#343434;
        font-size:27px;
    }
}

/* HERE COMES THE PROGRESS */

.smallprogress {
 width:100%;
 background:#d4d9dd;
 border:1px solid #b8bbc0;
 height:4px;  
 border-radius: 4px;
 box-shadow:inset 0 1px 0 #cbd0d4;     
 position:relative;
}

.smallprogress .smallprogress-filled {
 display:block;
 position:absolute;
 top:-1px;
 left:-1px;
 height:100%;
 background:red;
 border:1px solid #4197da;
 border-radius:4px;
 width:40%;
 background:url('./img/smallprogress_background.png');
}

div.anime-library {
    .gallery-image a:hover img {
        opacity: 1;
    }
}

.spanpadding {
  padding-right: 8px;
  padding-left: 8px;
}

div.backdrop {
    
    display:inline !important;
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    background:rgba(0,0,0,0.6);
    text-align: center;
    vertical-align: middle;

    .white-center {
        color: #fff;
        position: absolute;
        top: 50%;
        width: 100%;
        text-shadow: 2px 2px 2px #000;
    }

    .unseen-episodes {
        bottom: 20px;
        position: absolute;
        text-align: center;
        width: 100%;
        color: rgba(255,255,255,0.8);
        font-weight: bold;
        font-size: 23px;
        text-shadow: 0px 1px 1px #000;
    }

    .smallprogress {
        background:url('./img/animeposter-progress-background.png');
        height:6px;
        position:absolute;
        bottom:10px;
        left:10%;
        width:80%;
        border:1px solid #2c2f37;
        box-shadow:0 1px 0 rgba(255,255,255,0.1);
        
        .smallprogress-filled {
            border:0;
            top:0;
            left:0;
            background:url('./img/animeposter-progress-fill.png');
        }
    }


}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.margin-top {
    margin-top:50px;
}

.request {
    min-height:300px;
    .backdrop {
        background: rgba(0, 0, 0, 0.7);


        .white-center {
            display:block;
            top:0;
            height:100%;
        }

        img {
            max-height:80%;
            margin-top:5%;
        }
    }
}

// UNUSED STUFF START
/*
.progressbar {
	height:30px;
	background:#d7d9d8;
	border:1px solid #bcbcbc;
	border-radius:3px;
	box-shadow:inset 0 1px 0 #cecece;
	position:relative;
	width:100%;
}

.progressbar #progress {
	position:absolute;
	z-index:1000;
	height:30px;
	top:-1px;
	left:-1px;
	box-shadow:0 1px 1px rgba(0,0,0,0.3), inset 0 1px 0 #b3d7ed;
	border:1px solid #2167ae;
	border-radius:3px;
	background-image: linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -o-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(25,89,154)),
		color-stop(1, rgb(62,145,228))
	);
	box-shadow:inset 0 1px 0 #47a4ff;
	overflow:hidden;
}

.progressbar #progress span {
	position: absolute;
	right:5px;
	text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
	color: rgba(0,0,0,0.6);
	white-space: nowrap;
	line-height:30px;
}
*/
// UNUSED STUFF END



// Responsive stuff
/*@media (min-width: $responsive_big) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 960px;
    }
}*/

@media (min-width: $responsive_medium) {
    .modal-dialog {
        &.episode {
            width:800px;
            margin-left:-400px;
        }
    }
}

@media (max-width: $responsive_medium) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  
    &.nav-search {
        margin-bottom:10px;
        margin-top:9px;

        .navbar-inner {
            padding:0;
        }
    }
  }

}

@media (max-width: $responsive_small) {
    .brand { margin-left: auto; margin-right: auto; }
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
}
