@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "base";

@mixin blur ($px: 1px) {
	filter: blur($px);
	// Browser Specific
	-webkit-filter: blur($px);
	-moz-filter: blur($px);
	-o-filter: blur($px);
	-ms-filter: blur($px);
}

// COMMON

body {
	font-family:'Proxima Nova';
    background:#F9F9F9;
    font-size:14px;
    text-rendering: optimizelegibility
}

h1, h2, h3, h4 {
    color:#2a2a2a;
    font-weight:bold;
    font-family: "Roboto","Questrial",Helvetica,Arial,sans-serif;
}

h1 {
    font-size:30px;
    margin:10px 0;

    .small {
        line-height:30px;
        color:rgba(0,0,0,0.5);
        font-weight:normal;
    }
}

.small {
    font-size:0.7em;
}

.black-top {
    margin-top:-20px;
    padding-top:20px;
    background-image:url('./img/navy_blue.png');
}

.container {
    width: 960px;
}

.content {
    padding: 20px 30px;
    background:#fff;
	border:1px solid #ccc;
    border-width: 0 1px 1px 1px;
}

.infobar{
    background: #efefef;
}

img.posterimage {
	max-width:175px;
	width:100%;
	/*max-width:225px;*/
	padding: 10px;
   	//border:3px solid #f5f4f9;
    @include box-shadow(inset 0 0 2px #d0d1d5);
   	@include border-radius(3px);
   	background:#fff;
}


.navbar {
	z-index:1000;
	position:absolute;
}

#notifications {
	top:43px;
	left:-73px;
	/*margin-left:15px;*/
}

.transparent-bar {
	background: rgba(0, 0, 0, 0.6);
	padding: 5px 0;
	position: absolute;
	width: 100%;
	margin-top: -69px;
	color: white;
	text-shadow: 0 1px 1px black;
	text-align: center;
}


#fanart {
	background-color:#efeff2;
	display:block;
	background-size:100%;
	height:385px;
	width:100%;
    max-width:1020px;
    margin:0 auto;
	z-index:0;
    @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, 0.15));
    @include border-radius(3px 3px 0 0);
    border:1px solid #000;
    border-width: 1px 1px 0 1px;
}

p.animedesc {
	font-family:'Proxima Nova';
	color:#5E5E5E;
	padding: 30px 30px 30px 30px;
	background: url('./img/quote1.png') no-repeat top left,url('./img/quote2.png') no-repeat bottom right;
	line-height: 18px;
	font-size:0.9em;
	margin-bottom:50px;
}
.smalltext {
	font-size:0.8em;
}

img.animeimage, #fanart .animetitle {
	border:1px solid #000002;
	box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2);
	-moz-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2);
	max-width:175px;
	width:100%;
	/*max-width:225px;*/
	padding: 10px;
   	border:3px solid #f5f4f9;
   	-webkit-appearance: none;
   	-webkit-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
   	-moz-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
   	border-radius: 3px;
   	background:#fff;
}

#anime-gallery {
	position:relative;
    //216
    .gallery-header {
        h2 {
            width:216px;
            display:inline-block;
            margin-left:5px;
            font-size:18px;
            
            span.normal {
                font-weight:normal;
            }
        }
    }
    .anime-gallery-single {
        position:relative;
        display:inline-block;
        margin:5px;/* 10px;*/
        color:#545655;
        max-width:215px;
        height:180px;
        float:left;	
        
        .anime-gallery-single-inner {
            padding: 3px 3px 0 3px;
            border: 3px solid #f5f4f9;
            -webkit-appearance: none;
            -webkit-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
            border-radius: 3px;
            background: white;
            max-width:200px;
            text-align:center;
            
            span.anime-gallery-single-hover {
                display:none;
                position:absolute;
                top:6px;
                left:6px;
                height:112px;
                line-height:112px;
                width:198px;
                font-weight:bold;
                border:1px solid rgba(0,0,0,0.8);
                background:rgba(0,0,0,0.6);
                color:#fff;
                box-shadow:inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(255,255,255,0.1),inset 1px 0 0 rgba(255,255,255,0.1),inset -1px 0 0 rgba(255,255,255,0.1);
            }
            a, a:hover {
                color:#fff;
                top:6px;
                left:6px;
                height:100%px;
                width:100%;
                display:block;
                text-decoration:none;
            }
            
            &:hover {
                background: #32b9e6;/* OLD LIGHT BLUE*/
                background: #2F6A9F !important;/* NEW AWESOME DARK BLUE*/
                /*border-color: #2b9fc4;*/
                box-shadow:none;
                
                span.anime-gallery-single-hover {
                    display:block;
                }
            }
        }
        
        span.anime-gallery-single-name {
            font-weight:normal;
            color:#545655;
            display:block;
            text-align:center;
            margin-top:10px;
        }
    }
    
    p.calendarinfo {
        margin: 0 5px;
    }
}

.bold {
	font-weight:bold;
}

// NEED TO BE REDONE

.animethumbnail {
	@include box-shadow(
		#D0D1D5 1px 1px 0,
		#D0D1D5 -1px -1px 0,
		#D0D1D5 1px -1px 0,
		#D0D1D5 -1px 1px 0,
		#F5F4F9 4px 4px 0,  //light gray outer border
		#F5F4F9 -4px -4px 0,
		#F5F4F9 -4px 4px 0,
		#F5F4F9 4px -4px 0
	);
	background: #fff;
	padding:2px;
	position:relative;
	display:inline-block;
	img {
		border:1px solid #fff;
	}
	img:hover {
		@include box-shadow(
		rgba(255,255,255,0.1) 1px 1px 0 0 inset,
		rgba(255,255,255,0.1) -1px -1px 0 0 inset,
		rgba(255,255,255,0.1) 1px -1px 0 0 inset,
		rgba(255,255,255,0.1) -1px 1px 0 0 inset,
		#2F6A9F 2px 2px 0,  //light gray outer border
		#2F6A9F -2px -2px 0,
		#2F6A9F -2px 2px 0,
		#2F6A9F 2px -2px 0
		);
		border:1px solid rgba(0,0,0,0.8);
	}

	.animethumbnail-fav {
		border:0;
		position:absolute;
		top:0px;
		height:40px;
		width:40px;
		left:0px;
		background:url("../img/flag.png");
	}

	&:hover .animethumbnail-fav{
			border:0;
			background:url("../img/flag_hover.png");
			@include box-shadow(none);
		}

}

// UNUSED STUFF START

#fanart .animetitle {
	margin:130px auto;
	max-width:400px;
	text-align:center;
	background:rgba(255,255,255,.3);
	/* DO NOT DISPLAY THE TITLE FOR NOW */
	display:none;
}

.progressbar {
	height:30px;
	background:#d7d9d8;
	border:1px solid #bcbcbc;
	border-radius:3px;
	box-shadow:inset 0 1px 0 #cecece;
	position:relative;
	width:100%;
}

.progressbar #progress {
	position:absolute;
	z-index:1000;
	height:30px;
	top:-1px;
	left:-1px;
	box-shadow:0 1px 1px rgba(0,0,0,0.3), inset 0 1px 0 #b3d7ed;
	border:1px solid #2167ae;
	border-radius:3px;
	background-image: linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -o-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(25,89,154)),
		color-stop(1, rgb(62,145,228))
	);
	box-shadow:inset 0 1px 0 #47a4ff;
	overflow:hidden;
}

.progressbar #progress span {
	position: absolute;
	right:5px;
	text-shadow:   rgba(255,255,255, 0.45) 0 1px 0px;
	color: rgba(0,0,0,0.6);
	white-space: nowrap;
	line-height:30px;
}

.animethumbnail + p {
	color:#545655;
	text-align:center;
	margin-top:10px;
	max-width:200px;
	height:1.3em;
	overflow:hidden;
	text-overflow: ellipsis;
}

/* EPISODE LIST */

div.episode {
	margin-bottom:20px;
	/*border-bottom:1px solid #ccc;*/
	box-shadow:0 1px 1px #ededed;
	padding:10px 0;
}

div.episode span.episodeImage {
	display:inline-block;
	/*width:84px;*/
	vertical-align:top;
}

div.episode span.episodeNumber {
	color:#ccc;
	display:inline-block;
	width:50px;
}

div.episode span.episodeImage img {
	/*border:1px solid #ccc;
	border-radius:3px;*/
}

div.episode span.episodeContent {
	display:inline-block;
	vertical-align:top;
	/*padding:0 20px;*/
}

div.episode span.episodeContent p {
	display:block;
	color:#5E5E5E;
	line-height:17px;
	font-size:0.9em;
}

div.episode span.episodeContent span.episodeName {
	font-weight:bold;
	letter-spacing:1px;
}

div.episode span.episodeContent span.episodeTime {
	font-weight:bold;
	font-size:0.8em;
	letter-spacing:1px;
	color:#555;
	float:right;
}

div.episode span.extra {
	display:inline-block;
	width:20px;
	padding:10px;
	position:relative;
}

div.episode span.extra:hover span.tooltip {
	display:inline-block;
}

.newsfeed img, .episodeImage img {
	padding: 2px;
	border: 3px solid #F5F4F9;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
	border-radius: 3px;
	background: white;
	max-width: 200px;
	text-align: center;
	max-height:50px;
	border-image: initial;
}

.newsfeed img:hover, .episodeImage img:hover {
	background: #32b9e6;/* OLD LIGHT BLUE*/
	background: #2F6A9F !important;/* NEW AWESOME DARK BLUE*/
	/*border-color: #2b9fc4;*/
	box-shadow:none;
}

// UNUSED STUFF END



// Responsive stuff
@media (min-width: $responsive_big) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 960px;
    }
}

@media (max-width: $responsive_medium) {
	/*#fanart {
		margin:-20px -20px 0 -20px;
		padding: 0 10px;
	}*/
}

@media (max-width: $responsive_small) {
    body {
        padding: 0;
    }
	/*#fanart {
		padding: 0 20px;
		max-height:150px;
	}

	.navbar-fixed-top:first-child {
		margin-bottom: 0;
	}

	#fanart{
    	//box-shadow: 0px 0px 300px 10px rgba(255,255,255,1);
    	//opacity: 0.7;
    	//@include blur(2px);
	}*/
}
