@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "base";

// COMMON

body {
	font-family:'Proxima Nova';
    background:#eee;
    font-size:14px;
    padding-top:44px;
    text-rendering: optimizelegibility
}

h1, h2, h3, h4 {
    color:#2a2a2a;
    font-weight:bold;
    font-family: "Roboto","Questrial",Helvetica,Arial,sans-serif;
}

h1 {
    font-size:30px;
    margin:10px 0;

    .small {
        line-height:30px;
        color:#BFBFBF;
        //color:rgba(0,0,0,0.5);
        font-weight:normal;
    }
}

.small {
    font-size:0.7em;
}

.black-top {
    padding-top:20px;
    background-image:url('./img/navy_blue.png');
}

.container {
    width: 960px;
}

.content {
    padding: 20px 30px;
    background:#fff;
	border:1px solid #ccc;
    border-width: 0 1px 1px 1px;
    position:relative;
}

.infobar {
    background: whiteSmoke;
}

img.posterimage {
	max-width:175px;
	width:100%;
	padding: 10px;
    @include box-shadow(inset 0 0 2px #d0d1d5);
   	@include border-radius(3px);
   	background:#fff;
}


.navbar {
	z-index:1000;
	position:absolute;
}

#notifications {
	top:43px;
	left:-73px;
}

.transparent-bar {
	background: rgba(0, 0, 0, 0.6);
	padding: 5px 0;
	position: absolute;
	width: 100%;
	margin-top: -69px;
	color: white;
	text-shadow: 0 1px 1px black;
	text-align: center;
}


#fanart {
	background-color:#efeff2;
	display:block;
	background-size:100%;
	height:385px;
	width:100%;
    max-width:1020px;
    margin:0 auto;
	z-index:0;
    @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, 0.15));
    @include border-radius(3px 3px 0 0);
    border:1px solid #000;
    border-width: 1px 1px 0 1px;
}

p.animedesc {
	font-family:'Proxima Nova';
	color:#5E5E5E;
	padding: 30px 30px 30px 30px;
	background: url('./img/quote1.png') no-repeat top left,url('./img/quote2.png') no-repeat bottom right;
	line-height: 18px;
	font-size:0.9em;
	//margin-bottom:50px;
}

.smalltext {
	font-size:0.8em;
}

img.animeimage, #fanart .animetitle {
	border:1px solid #000002;
	box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2);
	-moz-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2);
	max-width:175px;
	width:100%;
	padding: 10px;
   	border:3px solid #f5f4f9;
   	-webkit-appearance: none;
   	-webkit-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
   	-moz-box-shadow: inset 1px 1px 0 #d0d1d5, inset -1px -1px 0 #d0d1d5;
   	border-radius: 3px;
   	background:#fff;
}

.clear {
    clear:both;
}

.anime-gallery {
	position:relative;
    
    p {
        margin-left:5px;
        overflow:hidden;
        width:100%;
    }
    
    .gallery-header {
    
        h2 {
            width:216px;
            
            display:inline-block;
            margin-left:5px;
            font-size:18px;
            
            span.normal {
                font-weight:normal;
            }
    
        }
    
    }

}

.gallery-image {
    
    border:3px solid #F5F4F9;
    box-shadow:inset 1px 1px 0 #D0D1D5, inset -1px -1px 0 #D0D1D5;
    display:inline-block;
    padding:3px 5px 3px 3px;
    max-width:100%;
    position:relative;
    @include box-sizing(border-box);
    
    a {
        display:block;
        position:relative;
        background:#000;
                
        img {
            vertical-align: bottom;
            border:1px solid #fff;
            height:100%;
            width:100%;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);          
        }
        
        span {
            display:none;
            color:#fff;  
            font-weight:bold;  
        }
        
        &:hover span {
            display:inline;
            width:100%;
            position:absolute;
            top:50%;
            text-align:center;  
            vertical-align:middle;    
        }
        
        &:hover img {
            border:1px solid #000;
            opacity: 0.5;    
        }
        
    }
    
    &:hover {
        background:#2F6A9F;    
    }
    
    span.info {
        position:absolute;
        margin-top:10px;
        overflow:hidden;
        
        p {
            height:1.1em;
            line-height:1.1em;
        }        
    }
}

.gallery-episode {
    width:215px;
    margin:5px 10px 5px 0;
    a {
        img {
            width: 215px;
        }
    }
}

.gallery-poster {
    width: 166px;
    margin:10px;
    a {
        img {
            width: 150px;
            height: 225px;
        }
    }
    p {
        height:1em;
        text-align:center;
        width:100%;
        text-overflow: clip;
    }
}

select {
    max-width:100%;
}

.line-height-input {
    line-height:30px;
}

.gallery-fanart {
    width: 216px;
    margin:10px;
    a {
        img {
            width: 200px;
            height: 112px;
        }
    }
    p {
        height:1em;
        text-align:center;
        width:100%;
        text-overflow: clip;
    }
}

.loading {
    background:url('./img/loading_square.gif');
    width: 400px;
    height:300px;
    margin:0 auto;
}

.bold {
	font-weight:bold !important;
}

.margin {
    margin:15px;
}


// Tags

.tag 					{ background: url(./img/tag.png) no-repeat 0 0; color: #3f3f3f; display: none; float: left; height: 25px; line-height: 1; margin: 5px; padding: 0 5px 0 8px; position: relative; text-decoration: none; }
.tag:hover 				{ cursor: pointer; }
.tag:active 			{ top: 1px; }
.tag span 				{ display: block; float: left; }
.tag_name 				{ background: url(./img/tag.png) no-repeat 100% -25px; height: 19px; padding: 6px 10px 0 0; position: relative; text-shadow: 0 1px 1px #fff; z-index: 10; max-width:188px;}
.tag_count 				{ background: url(./img/tag.png) no-repeat 100% -50px; color: #fff; height: 19px; padding: 5px 10px 0; position: absolute; right: 0; text-shadow: 0 -1px 0 #c54a0c; top: 1px; z-index: 5; }



// NEED TO BE REDONE

.smallPoster img{
    width: 138px;
    height:203px;
}

.smallPoster + p {
    width:138px;
}



// UNUSED STUFF START
/*
.progressbar {
	height:30px;
	background:#d7d9d8;
	border:1px solid #bcbcbc;
	border-radius:3px;
	box-shadow:inset 0 1px 0 #cecece;
	position:relative;
	width:100%;
}

.progressbar #progress {
	position:absolute;
	z-index:1000;
	height:30px;
	top:-1px;
	left:-1px;
	box-shadow:0 1px 1px rgba(0,0,0,0.3), inset 0 1px 0 #b3d7ed;
	border:1px solid #2167ae;
	border-radius:3px;
	background-image: linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -o-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(25,89,154) 0, rgb(62,145,228) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(25,89,154)),
		color-stop(1, rgb(62,145,228))
	);
	box-shadow:inset 0 1px 0 #47a4ff;
	overflow:hidden;
}

.progressbar #progress span {
	position: absolute;
	right:5px;
	text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
	color: rgba(0,0,0,0.6);
	white-space: nowrap;
	line-height:30px;
}
*/
// UNUSED STUFF END



// Responsive stuff
@media (min-width: $responsive_big) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 960px;
    }
}

@media (max-width: $responsive_medium) {
}

@media (max-width: $responsive_small) {
}