	<a href="#" id="notification" rel="popover" data-title="title" 
data-content="content">
		<span class="label label-danger">2</span>
	</a>
	<div class="popover bottom" id="notifications" style="width:250px" {{bindAttr name="name"}}>
		<div class="arrow"></div>
		<div class="popover-inner">
			<h3 class="popover-title">Notifications</h3>
			<div class="popover-content">
				<div class="row">
					<div class="col-lg-2">
						<img src="http://gravatar.com/avatar/79bf7c793958b269fc2ad82c1c36afd7.jpg?s=20&r=pg">
					</div>
					<div class="col-lg-8">
						<small><a href="#">Larseknu</a> commented on episode 14 of bleach</small>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-2">
						<img src="http://gravatar.com/avatar/79bf7c793958b269fc2ad82c1c36afd7.jpg?s=20&r=pg">
					</div>
					<div class="col-lg-8">
						<small><a href="#">Larseknu</a> commented on episode 14 of bleach</small>
					</div>
				</div>
				<p></p>
			</div>
		</div>
	</div>
