{{#with view.content}}
<div class="col-2 overflow-hidden margin-bottom-m">
    {{#linkTo 'anime.description' this class="media-item clickable"}}
        <div class="poster" {{bindAttr style="imageUrlSmallStyle"}}></div>
    {{/linkTo}}
    <span class="nowrap small">{{title}}</span>
</div>
{{/with}}
