{{#with view.content}}
<div class="anime-gallery gallery-fanart pull-left">
    <div class="gallery-image">
       {{#linkTo 'anime.description' this}}
            <img {{bindAttr src="fanartURLSmall"}} />
            <span>
                View Anime
            </span>
        {{/linkTo}}
    </div>
    <p>
        {{title}}
    </p>
</div>
{{/with}}
