<hr>
{{#with view.content}}
<div class="media">
  {{#linkTo 'anime.description' this class="pull-left"}}
      <img class="thumbnail" {{bindAttr src="imageURLSmallest"}} />
  {{/linkTo}}
  <div class="media-body">
    <h4 class="media-heading">
    	{{#linkTo anime.description this}}
				{{title}}
			{{/linkTo}}
		</h4>
    <p>{{desc}}</p>
  </div>
</div>
{{/with}}