<div class="black-top">
    <div class="container">
      <header id="fanart" class="small">
        {{#each uep in content.userEpisodes}}
          <div class="userseen">
            <a {{action 'showModal' 'episodemodal' uep.episode}} class="clickable">
              <div class="border-image" {{bindAttr style="uep.episode.fanartStyle"}}>
              </div>
            </a>
          </div>
        {{/each}}
      </header>
    </div>
</div>
{{outlet}}

