{{#with view.content}}
<div class="pull-left margin">
    <div class="animethumbnail smallFanart">
        <div class="animethumbnail-fav"></div>
        <a href="#" {{action goToAnime this target="parentView"}}><img class="animethumbnail-inner" {{bindAttr src="fanartURLSmall"}}></a>
    </div>
    {{log this}}
    <p>{{title}}</p>
</div>
{{/with}}
