{{#with view.content}}
<div class="anime-gallery gallery-poster pull-left">
    <div class="gallery-image">
        <a {{action goToAnime this target="parentView"}}> 
            <img {{bindAttr src="imageURLSmall"}} />
            <span>
                View Anime
            </span>
        </a>
    </div>

    <p>
        {{title}}
    </p>
</div>
{{/with}}
