{{#with controller.content}}
<div class="black-top">
    <div class="container">
        <header id="fanart" class="big" {{bindAttr style="fanartStyle"}}>
        	{{#if view.auth.signedIn}}
        		<div class="smallprogress">
            		<div class="smallprogress-filled" {{bindAttr style=view.percentageSeenStyle}}>
            		</div>
          		</div>
          	{{/if}}
        </header>
    </div>
</div>
{{outlet}}
{{/with}}
