{{#if content.isLoaded}}
    <h1>
        The collection is empty. Here, have a cat..
    </h1>
    <img class='posterimage' src='./assets/img/mascot.jpg'>
{{else}} 
    <img src='./assets/img/loading.gif'>Stuff is still loading
{{/if}}
