<div class="container margin-top">
	<div class="row-fluid">
		<table class="table table-hover table-striped pull-left span4 content">
			<thead>
				<tr>
					<th class="span10">Anime request</th>
					<th class="span2">{{model.length}}
				</tr>
			</thead>
			<tbody>
				{{#each request in pagedContent}}
					<tr>
						<td colspan="2">
							{{#linkTo request request}}{{request.title}}{{/linkTo}}
						</td>
					</tr>
				{{/each}}
				<tr>
					<td colspan="2">
						{{view App.PaginatorCollectionView contentBinding="controller.paginator"}}
					</td>
				</tr>
			</tbody>
		</table>

		{{outlet}}
	
	</div>
</div>