<div class="popover bottom" id="notifications" style="width:250px;display: block;" data-bindattr-1="1">
        <div class="arrow"></div>
        <div class="popover-inner">
            <div class="popover-title">
                {{view view.searchField placeholder="Search for anime" valueBinding="view.value"}}
            </div>
            <!--<div class="popover-content">
                <div class="row">
                    Should be some magic here..
                </div>
                
            </div>-->
        </div>
    </div>