<div class="popover bottom" id="notifications" style="width:250px;display: block;" data-bindattr-1="1">
        <div class="arrow"></div>
        <div class="popover-inner">
            <div class="popover-title">
                <input type="text" placeholder="Search for anime">
            </div>
            <div class="popover-content">
                <div class="row">
                    
                </div>
                
            </div>
        </div>
    </div>