<div class="container content">
  <ul class="breadcrumb">
    <li>{{#linkTo "anime.description"}}{{anime.title}}{{/linkTo}}</li>
    <li class="active">Episodes</li>
  </ul>

{{view App.EpisodeListView contentBinding="pagedContent"}}

{{view App.PaginatorCollectionView contentBinding="controller.paginator"}}
</div>

<!--
<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aira-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine day</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
-->



      <!-- TEST -->
<!--
      <div class="comment-container">
        <div class="comment-avatar">
          <img src="http://gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa?s=40">
        </div>
        <div class="comment">
          <div class="comment-meta"><a href="#">groenlid</a> added a comment<span class="comment-time"><abbr class="timeago" title="2012-04-19T08:14:01-0500">15 hours ago</abbr></span></div>
          <div class="comment-text">
            Thought this would never end!
          </div>
        </div>
      </div>

      <div class="comment-container">
        <div class="comment-avatar">
          <img src="http://gravatar.com/avatar/79bf7c793958b269fc2ad82c1c36afd7.jpg?s=40&r=pg">
        </div>
        <div class="comment">
          <div class="comment-meta"><a href="#">larseknu</a> added a comment<span class="comment-time"><abbr class="timeago" title="2012-04-19T08:14:01-0500">16 hours ago</abbr></span></div>
          <div class="comment-text">
            Best episode ..... EVER!
          </div>
        </div>
      </div>

      <div class="comment-container">
        <div class="comment-avatar">
          <img src="http://gravatar.com/avatar/253691ed13945e5fb883c4e05b4c470c?s=40">
        </div>
        <div class="comment">
        <div class="comment-meta">
          <a href="/user/view/2">atemu</a> watched this episode<span class="comment-time"><abbr class="timeago" title="2012-03-27T03:33:02-0500">17 hours ago</abbr></span></div>
        </div>  
      </div>

      <div class="comment-container">
        <div class="comment-avatar">
          <img src="http://gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa?s=40">
        </div>
        <div class="comment">
        <div class="comment-meta">
          <a href="/user/view/1">groenlid</a> watched this episode<span class="comment-time"><abbr class="timeago" title="2012-03-27T03:33:02-0500">18 hours ago</abbr></span></div>
        </div>  
      </div>
-->
      <!-- TEST END -->