<div class="splash-white">
    <div class="span6 offset3 frontpage-backdrop">
	<h1 class="normal">Say <span class="bold">ohayou</span> to your new anime tracker, <span class="bold">uranime</span>.</h1>
        <div class="row center">
            <input type="text" class="span9 search-frontpage" placeholder="Search for anime, episodes, or your mothers maiden name">
            <button type="button" class="btn span2"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
	<br class="clear">
</div>

<div class="container container-splash">
	<div class="row">
		<div class="span6 discover">
			<h2><i class="glyphicon glyphicon-search"></i> <span class="bold">Discover</span> new anime</h2>
			<p>Search and discover new anime based on tags, genres or just plain old
			recommendations</p>
		</div>
		<div class="span6 calendar">
			<h2><i class="glyphicon glyphicon-calendar"></i> <span class="bold">Never</span> miss a show airing</h2>
			<p>Maximize your anime intake with the calendar specifically designed just for you.</p>
		</div>
	</div>
	<div class="row">
		<div class="span6 sync">
			<h2><i class="glyphicon glyphicon-refresh"></i> <span class="bold">Sync</span> your library</h2>
			<p>Have your library up to date anywhere and everywhere you are.</p>
			<p>With the <a href="https://play.google.com/store/apps/details?id=com.banan.anime">mobile uranime app</a>, your are just a few clicks away from
			a discussion-winning fact </p>
		</div>
	</div>
</div>