<div class="splash-white">
	<h1 class="normal">Say <span class="bold">ohayou</span> to your new anime tracker, <span class="bold">uranime</span>.</h1>

    <div id="myCarousel" class="carousel slide anime-gallery gallery-splash">
    <!-- Carousel items -->
    <div class="carousel-inner">
	   	<div class="active item gallery-image">
	      <img src="assets/img/splash-04.png" class="splash-image" alt="">
	    </div>
	    <div class="item gallery-image">
	    	<img src="assets/img/splash-01.png" class="splash-image">
	    </div>
	    <div class="item gallery-image">
	      <img src="assets/img/splash-02.png" class="splash-image" alt="">
	    </div>
	    <div class="item gallery-image">
	      <img src="assets/img/splash-03.png" class="splash-image" alt="">
	    </div>
	  </div>
    <!-- Carousel nav -->
    <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
    </div>
<!--
	<div class="anime-gallery gallery-splash pull-left">

		<div class="gallery-image">
			<img class="splash-image left" src="assets/img/splash-02.png" />
		</div>

		<div class="gallery-image">
			<img class="splash-image" src="assets/img/splash-01.png" />
		</div>

	</div>
-->
	<br class="clear"/>
	
</div>

<div class="container container-splash">
	<div class="row">
		<div class="span6 discover">
			<h2><i class="glyphicon glyphicon-search"></i> <span class="bold">Discover</span> new anime</h2>
			<p>Search and discover new anime based on tags, genres or just plain old
			recommendations</p>
		</div>
		<div class="span6 calendar">
			<h2><i class="glyphicon glyphicon-calendar"></i> <span class="bold">Never</span> miss a show airing</h2>
			<p>Maximize your anime intake with the calendar specifically designed just for you.</p>
		</div>
	</div>
	<div class="row">
		<div class="span6 sync">
			<h2><i class="glyphicon glyphicon-refresh"></i> <span class="bold">Sync</span> your library</h2>
			<p>Have your library up to date anywhere and everywhere you are.</p>
			<p>With the <a href="https://play.google.com/store/apps/details?id=com.banan.anime">mobile uranime app</a>, your are just a few clicks away from
			a discussion-winning fact </p>
		</div>
	</div>
</div>