<div class="splash-white">
    <div class="col-lg-6 col-offset-3 frontpage-backdrop">
		
		<h1 class="normal">{{t front.title}}</h1>
        <div class="row center">
        	<div class="input-group">
	            {{view Ember.TextField class="form-control search-frontpage" placeholder="Search for anime, episodes, or your mothers maiden name"}}
	            <span class="input-group-btn">
	            	<button type="button" class="btn btn-default">
	            		<span class="glyphicon glyphicon-search"></span> Search
	            	</button>
	      		</span>
            </div>
        </div>
    </div>
	<br class="clear">
</div>

<div class="container container-splash">
	<div class="row">
		<div class="col-lg-6 discover">
			<h2><i class="glyphicon glyphicon-search"></i> <span class="bold">Discover</span> new anime</h2>
			<p>Search and discover new anime based on tags, genres or just plain old
			recommendations</p>
		</div>
		<div class="col-lg-6 calendar">
			<h2><i class="glyphicon glyphicon-calendar"></i> <span class="bold">Never</span> miss a show airing</h2>
			<p>Maximize your anime intake with the calendar specifically designed just for you.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 sync">
			<h2><i class="glyphicon glyphicon-refresh"></i> <span class="bold">Sync</span> your library</h2>
			<p>Have your library up to date anywhere and everywhere you are.</p>
			<p>With the <a href="https://play.google.com/store/apps/details?id=com.banan.anime">mobile uranime app</a>, your are just a few clicks away from
			a discussion-winning fact </p>
                    </div>
                    <div class="col-lg-6 discover">
                        <h2><i class="glyphicon glyphicon-heart-empty"></i> <span class="bold">Participate</span> in the community</h2>
                        <p>The code for this site is open-source and available for everyone. Want to contribute to the site with code, design feedback or typo-fixes? Head on over to our <a href="https://github.com/groenlid/uranime-client">Github site</a>.</p>
                    </div>
	</div>
</div>
