<div class="splash-white">
	<h1>Say hello to your anime friend, uranime.</h1>

	<div class="anime-gallery gallery-poster pull-left">

		<div class="gallery-image">
			<img class="splash-image" src="assets/img/splash-01.png" />
		</div>

	</div>
	<br class="clear"/>
	
</div>