<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-list-alt icon-white"></span>
			</a>
			<a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-search">
				<span class="icon-search icon-white"></span>
			</a>
			<a class="brand" href="#">Uranime</a>
			<ul class="nav hidden-phone">
					{{#view App.SearchFormView class="navbar-search"}}
						{{view Ember.TextField valueBinding="view.searchQuery" placeholder="Search for anime" class="input-large search-query"}}
						<!-- <button type="submit" class="btn">Search</button>-->
					{{/view}}
			</ul>
			<div class="nav-collapse">
				<ul class="nav">
					<li>{{#linkTo community}}Community{{/linkTo}}</li>
				</ul>	
				<ul class="nav pull-right">

					<!-- Notification -->
					<!--
					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="badge badge-inverse">2</span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu span3 smalltext">
							<div class="row-fluid">
								<div class="well well-small">
									<strong>Newly added episodes</strong>
								</div>
								
							</div>
						</ul>
					</li>
					-->

					<!-- Notification w/popover -->
					<li class="divider-vertical"></li>
					{{view App.NotificationsView}}


					<!-- User profile -->
					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							 <img src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=20" class="img-rounded"> Groenlid <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1">Profile</a></li>
							<li><a tabindex="-1">Watchlist</a></li>
							<li><a tabindex="-1">Library</a></li>
							<li><a tabindex="-1">Settings</a></li>
							<li><a tabindex="-1">Help</a></li>
							<li class="divider"></li>
							<li><a tabindex="-1">Logout</a></li>
						</ul>
					</li>
					<!--
					<li class="">
						<a href="#">Logout</a>
					</li>-->
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="navbar-fixed-top nav-search collapse">
  		<div class="navbar-inner">
  			<div class="row-fluid">
	  			{{#view App.SearchFormView class="navbar-form span9"}}
						{{view Ember.TextField valueBinding="view.searchQuery" placeholder="Search for anime" class="input-large search-query"}}
						<!--<button type="submit" class="btn hidden">Search</button>-->
					{{/view}}
			</div>
  		</div>
  	</div>
{{outlet}}
