<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Uranime</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#sidebar" id="sidebarButton"><span>Menu</span></a></li>
        {{view App.SearchFormView class="toggle-topbar search-icon search"}}
        <!--<li class="toggle-topbar search-icon search"><a href="#"><span class="general icon-search"></span></a></li>-->
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li>{{#linkTo community}}Community{{/linkTo}}</li>
            <li class="divider"></li>
            <li>{{#linkTo calendar date}}Calendar{{/linkTo}}
            <li class="divider"></li>
            <li>{{#linkTo requests}}Requests{{/linkTo}}
        </uL>
    </section>
</nav>

<div>
    <section id="sidebar" role="complementary">
        <nav id="sideMenu" role="navigation">
            <ul id="sideMainNav" class="nav-bar">
                <li><a href="">One</a></li>
                <li><a href="">Two</a></li>
                <li><a href="">Three</a></li>
                <li><a href="">Four</a></li>
            </ul>
        </nav>
    </section>
    {{outlet}}
</div>
{{outlet modal}}
